{% extends "base.html" %}
{% block content %}
    <h1>Add news</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {% for error in errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.rating.label }}<br>
            {{ form.rating }}<br>
        </p>
        <p>
            {{ form.body.label }}<br>
            {{ form.body }}<br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}