{% extends "base.html" %}
{% block content %}
    <h1>Welcome to Smoke, an internet software store!</h1>
    <h3>What is Smoke?</h3>
    <p>Smoke is a software store that allows you to download and publish all kinds of software.</p>
    <h3>What makes Smoke stand out?</h3>
    <p>Here's a comprehensive list of Smoke's features:
        <ul>
            <li>Browsing and downloading software;</li>
            <li>Reviewing software;</li>
            <li>Publishing software (if you're registered as a developer);</li>
            <li>Publishing and browsing news regarding software;</li>
            <li>Leaving comments on news;<br>
                <em>And, the most important of all:</em></li>
            <li><em><b>A review system with more than 2 ratings (Hear that, Steam?)</b></em></li>
            <!--<li><b><em>An easy to find search button (hear that, Epic Store?).</em></b></li>-->
        </ul>
    </p>
    <h3>Is it free?</h3>
    <p>Smoke is completely free and doesn't require any payment to upload or download software<br>
    (partially because of some problems with the Yandex.Money API ¯\_(ツ)_/¯)</p>
    <h3>How do I register?</h3>
    <p>...Are you serious?</p>
    <h2>This concludes the description of this wonderful software store. What are you waiting for?</h2>
{% endblock %}